<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Muban</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>org.hjc.servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMesaageServlet</display-name>
    <servlet-name>InsertMesaageServlet</servlet-name>
    <servlet-class>org.hjc.servlet.InsertMesaageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMesaageServlet</servlet-name>
    <url-pattern>/InsertMesaageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SocketServlet</display-name>
    <servlet-name>SocketServlet</servlet-name>
    <servlet-class>org.hjc.servlet.SocketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SocketServlet</servlet-name>
    <url-pattern>/SocketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TCPServlet</display-name>
    <servlet-name>TCPServlet</servlet-name>
    <servlet-class>org.hjc.servlet.TCPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCPServlet</servlet-name>
    <url-pattern>/TCPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetAtHomeServlet</display-name>
    <servlet-name>PetAtHomeServlet</servlet-name>
    <servlet-class>org.hjc.servlet.PetAtHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetAtHomeServlet</servlet-name>
    <url-pattern>/PetAtHomeServlet</url-pattern>
  </servlet-mapping>
</web-app>